@media only screen and (min-width: 992px) {
  .content-item {
    display: grid;
    grid-template: 60px 3fr 2fr 2fr / 1fr 1fr 1fr 1fr;
    gap: 20px;
    padding-right: 10px;
    padding-left: 30px;
    padding-bottom: 30px;
  }
  .content-grid {
    border-radius: 15px;
  }
  .sales-report {
    grid-column-start: 1;
    grid-column-end: 5;
    background-color: none;
  }
  .sales-revenue {
    grid-column-start: 1;
    grid-column-end: 4;
    margin-top: -20px;
  }
  .top-product {
    margin-top: -20px;
  }
  .top-market-demand {
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 5;
  }
  .content-grid {
    background-color: var(--main-white);
  }
  #sales-report {
    background-color: transparent;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    justify-content: center;
    align-items: center;
  }

  .refresh-item {
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
    gap: 5px;
  }
  .refresh-icon {
    background-color: var(--main-white);
    height: 25px;
    width: 25px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .view-customize {
    background-color: var(--main-white);
    height: 25px;
    width: 125px;
    border-radius: 15px;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
  }
  .view-customize img {
    position: relative;
    vertical-align: middle;
  }
  .view-customize p {
    display: inline;
    vertical-align: middle;
  }
  .restart-item {
    display: flex;
    flex-direction: row;
    justify-content: right;
    gap: 5px;
  }
}
